footer {
  position: relative;
  bottom: 10;
  background-color: rgb(118, 111, 111);
  height: 30px;
  text-align: right;
}
li {
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  border-radius: 70%;
  background-color: rgba(0, 0, 255, 0.483);
  color: white;
  height: 25px;
  width: 125px;
}
